body {
	background-color: #FAFAFA;
	/* color: #FFFFFF; */
	text-decoration: none;
	/*background-color: #ededed;*/
	font-family: Arial, Helvetica, sans-serif;
}

/*
my color scheme, tetradic
main: #cc2900
complimentary: #00a3cc
secondary: #00cc29
secondary: #cc00a3
http://www.colorhexa.com/cc2900
*/

header h1 {
	font-size: 400%;
	color: #800000;
	font-weight: bold;
	margin-top: 50px;
}

h3 {
	font-weight: bold;
	color: #800000;
}

.table-no-lines th, .table-no-lines td { 
     border-top: none !important; 
 }

header h3 {
	padding-top: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 50px;
	font-size: 135%;
}

h5 {
	font-size: 120%;
}

.profilepic {
	height: 90%;
	width: 90%;
}

.icons {
	height: 8%;
	width: 8%;
}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

a {
    color: #000080;
	font-weight: bold;
}

/* visited link */
a:visited {
	/* Maybe change this back to #FF00FF? */
    color: #000080;
	font-weight: bold;
}

/* mouse over link */
a:hover {
	color: #008080;
	text-decoration: none;
	font-weight: bold;
	font-style: italic;
}