table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

.date-top {
  margin-top: 40px;
  margin-bottom: 5px;
}

.small-top {
  margin-top: 0px !important;
}

p a, li a {
    color: #cc2900;
}

/* visited link */
p a:visited, li a:visited {
	/* Maybe change this back to #FF00FF? */
    color: #00a3cc;	
}

/* mouse over link */
p a:hover, li a:hover {
	color: #000;
	text-decoration: none;
}
