.date-top {
  margin-top: 40px;
  margin-bottom: 5px;
}

.small-top {
  margin-top: 0px !important;
}

a {
    color: #cc2900;
}

/* visited link */
a:visited {
	/* Maybe change this back to #FF00FF? */
    color: #00a3cc;	
}

/* mouse over link */
a:hover {
	color: #000;
	text-decoration: none;
}